            <div>
                <br>
                <div class='center'>
                	<TABLE>Hackathon IdeaHub</TABLE>
                </div>
                <div class='right'>
							<a class='button-success pure-button' ng-click="toggle()">+ Ideaboard</a>
				</div>
            </div>
            <div deckgrid class="deckgrid" source="ideaboards">
				<div class="card-container">
                <div class="ideacard">
                    <div class="title"><a href="/b/{{card.ideaboardName}}">{{card.ideaboardName}}</a></div>
<!-- <div class="title"><a class='button-success pure-button' ng-click="test()">{{card.ideaboardName}}</a></div> -->
                    <!--div class="desc" ng-bind-html='card.title | linky : "_blank" '></div-->
                    <div class="desc" ng-bind-html='card.description | linky : "_blank" '></div>
                    <!-- div class="author">{{card.user_id}}</div> -->
                    <div class="desc" ng-bind-html='card.website | linky : "_blank" '></div>

                </div>
				</div>
			</div>
            </div>