<div ng-controller="HomeController">

    <div class='center'>
        <TABLE>{{boardName}} Idea Board</TABLE>
    </div>

    <div class='right'>
                <a class='button-success pure-button' ng-click="toggle()">+ Idea</a>
    </div>

    <div deckgrid class="deckgrid" source="ideas">
                        <div class="card-container">
            <div class="ideacard">
                <div class="title">{{card.title}}</div>
                <div class="desc" ng-bind-html='card.description | linky : "_blank" '></div>
                <div class="author">{{card.user_id}}</div>
                <div class="email"><a href="mailto:{{card.email}}">{{card.email}}</a></div>

            </div>
                        </div>
        </div>
    </div>

</div>