<div class="btf-modal">
<form role = "form" ng-submit='addIdeaBoard();' class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="title">Hackathon name</label>
            <input class="pure-input-1-2" type="text" ng-model="ideaboardName" placeholder="Title..." required>
        </div>


        <div class="pure-control-group">
            <label for="idea">Description</label>
            <textarea class="pure-input-1-2" ng-model="ideaboardDescription" placeholder="Description..."></textarea>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Add a new Ideaboard</button>
            <button type='button' class='pure-button' ng-click="closeMe()">Cancel</button>
        </div>
        <div class="form-group" ng-show="error">
        <div class="pure-alert-error pure-alert" role="alert">{{error}}</div>

        </div>

    </fieldset>
</form>
</div>
